@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

.hidden {
  overflow: hidden;
  display: none;
  visibility: hidden;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:active {
			border: #666 1px solid;
			outline: none;
		}
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}


// custom

.error {
	display: inline-block;
	margin-top: 20px;
	padding-left: 10px;
	position: relative;
	color: #e04c4c;
	&::before {
		color: red;
		content: "!";
		font-size: 23px;
		position: absolute;
		left: -27px;
		top: 0;
		display: flex;
		border: 2px solid red;
		width: 27px;
		height: 27px;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
	}
}
table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: white;
}

.pagination li{
	margin-left: 12px;
	font-size: 18px;
	&:hover {
		cursor: pointer;
		color: lighten($color: $accent, $amount: 15%);
	}
	&.active {
		color: $accent;
	}
}

@import "media"; // Always at the end
